{% load humanize %}
<link rel="stylesheet" href="static/style.css" />

<section>
    <div class="sign-up-section text-center" id="reg">
        <div class="container">
            <div class="icon">
                <div class="top">
                    <img src="static/web/images/iconuser.png" alt="" />
                    <span> ثبت نام اقساطی </span>
                </div>
                <div class="bottom text-end">
                    <div class="bottom-center">
                        <form action="/winter/payment" method="post" id="payment-form" onsubmit="return on_submit(this)">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">نام</label>
                                <input type="text" class="form-control" name="firstname[]" onkeyup="this.parentElement.querySelector('.error').style.display = 'none'" />
                                <div class="text-danger error"><small>لطفا نام خود را با حروف فارسی وارد نمایید</small></div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">نام خانوادگی</label>
                                <input type="text" class="form-control" name="lastname[]" onkeyup="this.parentElement.querySelector('.error').style.display = 'none'" />
                                <div class="text-danger error"><small>لطفا نام خانوادگی خود را با حروف فارسی وارد نمایید</small></div>
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">ایمیل</label>
                                <input id="email" type="email" class="form-control" name="email[]" onkeyup="this.parentElement.querySelector('.error').style.display = 'none'" />
                                <div class="text-danger error"><small>لطفا ایمیل خود را وارد نمایید</small></div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">شماره تلفن همراه</label>
                                <input type="number" class="form-control" name="number[]" onkeyup="this.parentElement.querySelector('.error').style.display = 'none'" />
                                <div class="text-danger error"><small>لطفا شماره تلفن همراه خود را وارد نمایید</small></div>
                            </div>

                            <div id="extra-fields">
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <input type="text" class="form-control last d-inline-block total-price" style="background-color: #ffffff; font-family: dana; border-bottom: 2px solid #ffffff;" placeholder="مجموع قیمت " aria-label="مجموع قیمت " value="قیمت {{ product.price|intcomma:False }} تومان" disabled="true" />
                                </div>



                            </div>

                            <div class="form-check">
                                <label class="form-control-plaintext" style="color: red;">توجه: در صورت عدم پرداخت به موقع مراحل بعدی دسترسی‌تان به محتوای دوره محدود خواهد شد!</label>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" oninvalid="this.setCustomValidity('لطفا شرایط و ضوابط را قبول کنید')" onclick="setCustomValidity('')" required />
                                <label class="form-check-label" for="flexCheckDefault"> <a href="/winter/term">شرایط و ضوابط</a> را می‌پذیرم. </label>

                            </div>
                            <div class="text-center">
                                <a href="#">
                                    <button class="right" id="payment-btn">ثبت نام و خرید</button>
                                </a>




                            </div>


                            <input name="product" type="hidden" value="{{ product.type }}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">const price = {{ product.price }}; const discount = {{ discount.amount }};</script>
<script src="static/script.js"></script>
