 <section>
                <div class="gallery-section" style="background-color: white;">
                    <div class="container">
                        <div class="text-center">
                            <hr />
                            <h3>حامیان برگزاری دوره‌های زمستانه</h3>
                            <br />
                        </div>
                        <div class="row mt-4 d-lg-flex d-none">
                          <div class="col-lg-2">
                              <a href="https://parspack.com" target="_blank">
                              <img src="static/main/images/parspack.svg" width="150" height="150" />
                                  </a>
                          </div>
                            <div class="col-lg-2">
                                <a href="https://nikpardakht.com" target="_blank">
                              <img src="static/main/images/nikpardakht.png" width="130" height="130" />
                                    </a>
                          </div>
                            <div class="col-lg-2">
                                <a href="https://zhaket.com" target="_blank">
                              <img src="static/main/images/zhaket.png" width="150" height="150" />
                                    </a>
                          </div>
                            <div class="col-lg-2">
                                <a href="https://arvancloud.com/" target="_blank">
                              <img src="static/main/images/arvan.svg" width="130" height="130" />
                                    </a>
                          </div>
                            <div class="col-lg-2">
                                <a href="https://filoger.com/" target="_blank">
                              <img src="static/main/images/filoger.png" width="130" height="130" />
                                    </a>
                          </div>
                            <div class="col-lg-2">
                                <a href="https://podium.ir/" target="_blank">
                              <img src="static/main/images/podium.png" width="130" height="130" />
                                    </a>
                          </div>
                        </div>

                        <div class="row mt-4 d-lg-none d-flex">

                           <div class="col-6">
                               <a href="https://parspack.com" target="_blank">
                               <img src="static/main/images/parspack.svg" width="100" height="100" />
                                   </a>
                           </div>
                            <div class="col-6">
                                <a href="https://nikpardakht.com" target="_blank">
                               <img src="static/main/images/nikpardakht.png" width="100" height="100" />
                                    </a>
                           </div>
                            <div class="col-6">
                                <a href="https://zhaket.com" target="_blank">
                               <img src="static/main/images/zhaket.png" width="100" height="100" />
                                    </a>
                           </div>
                            <div class="col-6">
                                <a href="https://arvancloud.com" target="_blank">
                               <img src="static/main/images/arvan.svg" width="100" height="100" />
                                    </a>
                           </div>
                            <div class="col-6">
                                <a href="https://filoger.com/" target="_blank">
                               <img src="static/main/images/filoger.png" width="100" height="100" />
                                    </a>
                           </div>
                            <div class="col-6">
                                <a href="https://podium.ir/" target="_blank">
                               <img src="static/main/images/podium.png" width="100" height="100" />
                                    </a>
                           </div>
                            </div>

                    </div>
                </div>
            </section>
 <br /><br /><br /><br />
