<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PDVRG9Z');</script>
<!-- End Google Tag Manager -->

        <!---start GOFTINO code--->
        <script type="text/javascript">
            !function(){var i="i3Rl9r",a=window,d=document;function g(){var g=d.createElement("script"),s="https://www.goftino.com/widget/"+i,l=localStorage.getItem("goftino_"+i);g.async=!0,g.src=l?s+"?o="+l:s;d.getElementsByTagName("head")[0].appendChild(g);}"complete"===d.readyState?g():a.attachEvent?a.attachEvent("onload",g):a.addEventListener("load",g,!1);}();
        </script>
        <!---end GOFTINO code--->
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="" />
        <!-- Title -->
        <title>ثبت‌نام اقساطی پکیچ | CS50x Iran</title>
        <!-- Bootstrap CSS -->
       <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" /> -->
        <link rel="stylesheet" href="static/pack/css/bootstrap.min.css" />
        <!-- Theme CSS -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css" /> -->
        <link rel="stylesheet" href="static/pack/css/splide.min.css" />
        <link rel="stylesheet" href="static/pack/css/style.css?v=1.5" />
        <link rel="stylesheet" href="static/pack/css/responsive.css?v=1.5" />
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDVRG9Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        {% include "../header.html" %}
       <main>


       <section>
                <div class="announced-section text-center">
                    <div class="container">
                        <div class="border-top"></div>
                       <br /><br /><br />
                        <h6>
                          شما می‌توانید باپرداخت تنها 399 هزارتومان در این دوره ثبت‌نام کنید و مابقی مبلغ را طی دوره پرداخت نمایید.
                            <br /><br />
                            برای این کار کافیست فرم زیر را تکمیل نماید و اولین قسط خود را پرداخت نمایید تا دسترسی دوره برای شما ایجاد شود.
                            <br /><br />
                          مرحله دوم پرداخت: 450 هزارتومان در 15 بهمن ماه مرحله سوم پرداخت: 450 هزار تومان در 15 اسفند ماه
                        </h6>


                    </div>
                </div>
            </section>


            {% include "../formins.html" %}


               {% include "../sponsers.html" %}

<!--              <section>

                    <div class="container">
                        <div class="text-center">
                            <hr />
                            <img src="static/main/images/moshaver.svg" width="100" /><br /><br />
                            <h3>مشاوره تلفنی</h3><br /><br />
                            <h6>اگر نیاز به مشاوره و راهنمایی دارید؛ تماس بگیرید</h6>
                        </div>
                         <div class="bottom-table text-center">
                      <div class="container">

                       <table class="table">
                           <tbody>

                             <tr style="background-color: white">
                                 <td style="color: black"><a href="telephone">۰۲۱۲۸۴۲۹۰۳۵</a></td>
                               <td style="float: right"><img src="static/main/images/phone1.svg" width="20" /></td>
                             </tr>
                            </tbody>
                          </table>
                       </div>
                    </div>
                    </div>
            </section> -->

            
        </main>
        <a href="#" class="btn btn-top" id="fixedBtn">
            <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.384713L20 11.001L18.6 12.4873L10 3.35727L1.4 12.4873L0 11.001L10 0.384713Z" fill="white" />
            </svg>
        </a>
{% include "../footer.html" %}

        <!-- Scripts -->
        <script src="static/pack/js/splide.js"></script>
        <script src="static/pack/js/popper.min.js"></script>
        <script src="static/pack/js/bootstrap.min.js"></script>
       <!--  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->
        <script src="static/pack/js/main.js?v=1.5"></script>
        <!-- /scripts -->
    </body>
</html>
