<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PDVRG9Z');</script>
<!-- End Google Tag Manager -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="" />
        <!-- Title -->
        <title>ثبت‌نام دوره وب | CS50x Iran</title>
        <!-- Bootstrap CSS -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" /> -->
        <link rel="stylesheet" href="static/web/css/bootstrap.min.css" />
        <!-- Theme CSS -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" /> -->
        <link rel="stylesheet" href="static/web/css/normalize.min.css" />
        <link rel="stylesheet" href="static/web/css/style.css?v=1.5" />
        <link rel="stylesheet" href="static/web/css/responsive.css?v=1.5" />

</head>
<body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDVRG9Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/winter"><img src="static/main/images/CS50xIranfinal1.png" alt="" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px"><path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"/></svg>
                {#                <svg width="4" height="16" viewBox="0 0 4 16" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                    <path d="M2 4C3.1 4 4 3.1 4 2C4 0.9 3.1 0 2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4ZM2 6C0.9 6 0 6.9 0 8C0 9.1 0.9 10 2 10C3.1 10 4 9.1 4 8C4 6.9 3.1 6 2 6ZM2 12C0.9 12 0 12.9 0 14C0 15.1 0.9 16 2 16C3.1 16 4 15.1 4 14C4 12.9 3.1 12 2 12Z" fill="white"></path>#}
{#                </svg>#}
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/winter">صفحه اصلی</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#dore1">ویژگی دوره</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#qus">سوالات متداول</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/winter/#gallery">گالری</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://cs50x.ir/aboutus">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://cs50x.ir/team">تیم ما</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
        <main>
            <section id="home">
                <div class="introduction-section">
                    <img src="static/web/images/Ellipse66(1).png" alt="" />
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 order-lg-1 order-2">
                                <div class="right">
                                    <h2>{{ setting_web.course_title }}</h2>
                                    <h2 style="font-size: 22px;">با زبان پایتون و جاوااسکریپت بسازید</h2>
                                    <p>
                                       {{ setting_web.course_description }}
                                    </p>
                                    <a href="#reg">
                                        <button class="btn btn-right">{{ setting_web.right_button }}</button>
                                    </a>
                                    <a href="">
                                        <button class="btn btn-left">{{ setting_web.left_button }}</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-1 order-1">
                                <div class="left">
                                    <img src="static/web/images/Group237.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="fixedBtnCount">
                <div class="online-course-section" id="dore1">
                    <div class="container">
                        <div class="row">
                            <article class="col-lg-3 text-center">
                                <img src="static/web/images/3.png" alt="" />
                                <span>{{ setting_web.course_feature_title1 }}</span>
                                <span>{{ setting_web.course_feature_description1 }}</span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="static/web/images/2.png" alt="" />
                                <span class="top">{{ setting_web.course_feature_title2 }}</span>
                                <span class="bottom">{{ setting_web.course_feature_description2 }}</span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="static/web/images/1.png" alt="" />
                                <span class="top">{{ setting_web.course_feature_title3 }}</span>
                                <span class="bottom">{{ setting_web.course_feature_description3 }}</span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="static/web/images/4.png" alt="" />
                                <span class="top">{{ setting_web.course_feature_title4 }}</span>
                                <span class="bottom">{{ setting_web.course_feature_description4 }}</span>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="video-section text-center">
                    <div class="container">
                        <div class="video-box text-center">
                            <video width="500" height="325" poster="static/web/images/haji.png" controls>
                                <source src="static/main/video/haji.m4v" type="video/mp4" />
                                <source src="static/main/video/haji.m4v" type="video/ogg" />
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="announced-section text-center">
                    <div class="container">
                        <div class="border-top"></div>
                        <h2>{{ setting_web.david_video_title }}</h2>
                        <p>
                            {{ setting_web.david_video_description1 }}
                            <br />
                           {{ setting_web.david_video_description2 }}
                        </p>
                        <div class="left">
                            <img src="static/web/images/dunddun!!.png" alt="" />
                        </div>
                        <div class="right">
                            <img src="static/web/images/dunddun!!.png" alt="" />
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="skill-section text-center">
                    <div class="container">
                        <h2>{{ setting_web.skills_title }}</h2>
                        <div class="stripe-border">
                            <img src="static/web/images/Vector29.png" alt="" />
                        </div>
                        <div class="row">
                            <article class="col-lg-3 text-center">
                                <img src="static/web/images/01.png" alt="" />
                                <span>{{ setting_web.skills_title1 }}</span>
                                <span>
                                    {{ setting_web.skill_description1 }} <br />
                                   {{ setting_web.skill_description1_1 }}
                                </span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="static/web/images/setting.png" alt="" />
                                <span>{{ setting_web.skills_title2 }}</span>
                                <span>
                                    {{ setting_web.skill_description2 }} <br />
                                   {{ setting_web.skill_description2_2 }}
                                </span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="static/web/images/weeqeweqe.png" alt="" />
                                <span>{{ setting_web.skills_title3 }}</span>
                                <span>
                                    {{ setting_web.skill_description3 }} <br />
                                   {{ setting_web.skill_description3_3 }}
                                </span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="static/web/images/dfad.png" alt="" />
                                <span>{{ setting_web.skills_title4 }}</span>
                                <span>
                                    {{ setting_web.skill_description4 }}<br />
                                   {{ setting_web.skill_description4_4 }}
                                </span>
                            </article>
                        </div>
                        <div class="bottom-tringle"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="subject text-center">
                    <div class="right-circle">
                        <img src="static/web/images/right-circle.png" alt="" />
                    </div>
                    <div class="container">
                        <div class="border-top"></div>
                        <h2>{{ setting_web.course_topic }}</h2>
                        <ul>
                            <li class="subject-item">HTML, CSS</li>
                            <li class="subject-item">Git</li>
                            <li class="subject-item">Python</li>
                            <li class="subject-item">Django</li>
                            <li class="subject-item">SQL, Models, and Migrations</li>
                            <li class="subject-item">JavaScript</li>
                            <li class="subject-item">User Interfaces</li>
                            <li class="subject-item">Testing, CI/CD</li>
                            <li class="subject-item">Scalability and Security</li>
                        </ul>
                    </div>
                    <div class="left-circle">
                        <img src="static/web/images/left.circle.png" alt="" />
                    </div>
                </div>
            </section>
            <section>
                <div class="teacher-section">
                    <div class="container">
                        <div class="top">
                            <img src="static/web/images/dunddun!!.png" alt="" />
                        </div>
                        <div class="col-lg-6 order-lg-1 order-2">
                            <div class="right">
                                <h4>{{ setting_web.teacher_name }}</h4>
                                <p>
                                   {{ setting_web.teacher_description }}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-1 order-1">
                            <div class="left">
                                <img src="static/web/images/hajimaghsoudi.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="right-ramp"></div>
                    <div class="left-ramp"></div>
                </div>
            </section>
            <section>
                <div class="person-course-section text-center">
                    <div class="container">
                        <div class="border-top"></div>
                        <h2>{{ setting_web.suitable_for_title }}</h2>
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <img src="static/web/images/html.png" alt="" />
                                <span>{{ setting_web.suitable_for_title1 }}</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <img src="static/web/images/viki.png" alt="" />
                                <span>{{ setting_web.suitable_for_title2 }}</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <img src="static/web/images/shop.png" alt="" />
                                <span>{{ setting_web.suitable_for_title3 }}</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <img src="static/web/images/social.png" alt="" />
                                <span>{{ setting_web.suitable_for_title4 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="certificate-section text-center">
                    <div class="container">
                        <div class="border-top"></div>
                        <h2>{{ setting_web.title_of_document }}</h2>
                        <div class="center"><img src="static/web/images/web-cert.jpg" alt="" /></div>
                        <div class="right">
                            <img src="static/web/images/dunddun!!.png" alt="" />
                        </div>
                        <div class="left">
                            <img src="static/web/images/dunddun!!.png" alt="" />
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="sign-up-time-section text-center d-md-block">
                    <div class="container">
                        <h3>فرصت زیادی تا پایان مهلت ثبت نام باقی نمونده!</h3>
                        <div class="timer">
                            <div class="container-countdown">
                                <section class="countdown-block">
                                    <span class="days time-element">
                                        <span class="top">00</span>
                                        <span class="top-back">
                                            <span>00</span>
                                        </span>
                                        <span class="bottom">00</span>
                                        <span class="bottom-back">
                                            <span>00</span>
                                        </span>
                                    </span>
                                    <h2 class="subtitle">روز</h2>
                                </section>
                                <section class="countdown-block">
                                    <span class="hours time-element">
                                        <span class="top">00</span>
                                        <span class="top-back">
                                            <span>00</span>
                                        </span>
                                        <span class="bottom">00</span>
                                        <span class="bottom-back">
                                            <span>00</span>
                                        </span>
                                    </span>
                                    <h2 class="subtitle">ساعت</h2>
                                </section>
                                <section class="countdown-block">
                                    <span class="minutes time-element">
                                        <span class="top">00</span>
                                        <span class="top-back">
                                            <span>00</span>
                                        </span>
                                        <span class="bottom">00</span>
                                        <span class="bottom-back">
                                            <span>00</span>
                                        </span>
                                    </span>
                                    <h2 class="subtitle">دقیقه</h2>
                                </section>
                                <section class="countdown-block">
                                    <span class="seconds time-element">
                                        <span class="top">00</span>
                                        <span class="top-back">
                                            <span>00</span>
                                        </span>
                                        <span class="bottom">00</span>
                                        <span class="bottom-back">
                                            <span>00</span>
                                        </span>
                                    </span>
                                    <h2 class="subtitle">ثانیه</h2>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section  id="questions">
                <div class="questions-section">
                    <div class="text-center d-md-block d-none">
                        <a href="#reg" type="button" class="btn btn-red">می‌خواهم ثبت‌نام کنم</a>
                    </div>
                    <div class="container" id="qus">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="box">
                                    <div class="text-center mb-5">
                                        <div class="border-top"></div>
                                        <h3>سوالات متداول</h3>
                                    </div>
                                   <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                  تا چه سطحی ازبرنامه نویسی وب سایت تدریس می‌شود؟


                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                    در این دوره تمام سرفصل های مبانی برنامه نویسی وب به شما آموزش داده می‌شود. درواقع در این دوره ما 0 تا 50 برنامه نویسی وب را به شما آموزش می‌دهیم و به شما راهنمایی می‌کنیم که چگونه مسیرتان را به سمت نقطه 100 پیش ببرید.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                 پشتیبانی آموزشی دوره چگونه است؟

                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                     پشتیبانی آموزشی دوره به صورت چت متنی و صوتی در دیسکورد انجام می‌شود. این پشتبانی به صورت 24 ساعت و هر روز هفته است و هفته‌ای یک جلسه هم کلاس رفع اشکال با حضور مدرس وجود دارد.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                                  دوره چه زمانی شروع می‌شود؟


                                                </button>
                                            </h2>
                                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                      زمان ثبت نام تا 20 دی است. دوره از 23 دی شروع می‌شود و 19 اسفند به پایان می‌رسد.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="accordion-item hide">
                                            <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingfour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                                                  زمان کلاس‌ها به چه صورت هست؟
                                                </button>
                                            </h2>
                                            <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                  پنجشنبه ها ساعت 20 قسمت جدید هر جلسه را می‌توانید تماشا کنید. جلسات رفع اشکال هم یکشنبه ها ساعت 20 است.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingfive1">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                                                    ویدئو دوره‌ها ضبط می‌شود؟

                                                </button>
                                            </h2>
                                            <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                       دوره‌های ما در استودیو تصویر برداری و ادیت می‌شود. پنجشنبه هر هفته ساعت 20 دسترسی شما به دوره باز می‌شود و شما می‌توانید هر زمان که امکانش را داشتید جلسه را تماشا کنید.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                            <h2 class="accordion-header" id="flush-headingfive2">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive1" aria-expanded="false" aria-controls="flush-collapsefive1">
                                                      مدرک دوره را چگونه تأیید اعتبار کنم؟

                                                </button>
                                            </h2>
                                            <div id="flush-collapsefive1" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        مدرکی که به شما داده می‌شود تحت لینک cs50 هاروارد است که در دامنه خود دانشگاه هاروارد بارگزاری می‌شود.
                                                    </p>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                  نمایشگاه پایانی CS50xFair چیست؟


                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                    نمایشگاه پایانی CS50xFair به‌عنوان یک اختتامیه ‌و باهدف شبکه‌سازی دانشجویان با یکدیگر و شرکت در برنامه‌های جذب و کارآموزی شرکت‌های برتر ایرانی برگزار می‌شود.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" onclick="showMore('.hide','hide')" class="show-more">
                            <span>نمایش سوالات بیشتر</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="7" viewBox="0 0 17 7" fill="none">
                                <path d="M16 1L8.85714 6L1 1" stroke="#1E1E1E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <img class="icon" src="static/web/images/dunddun!!.png" alt="" />
                    <div class="bottom-table text-center">
                      <div class="container">
                          <h3>برنامه زمانی دوره‌های زمستانه</h3><br /><br />
                       <table class="table">
                           <tbody>
                               <tr>
                               <td>شروع ثبت‌نام دوره‌ها</td>
                               <td>پنج‌شنبه ۱۸ آذر ماه</td>
                             </tr>
                             <tr>
                               <td>شروع دوره هوش مصنوعی</td>
                               <td>چهارشنبه ۲۲ دی ماه</td>
                             </tr>
                              <tr>
                                <td>شروع دوره وب</td>
                                <td>پنج‌شنبه ۲۳ دی ماه</td>
                              </tr>
                              <tr>
                                <td>شروع دوره اندروید</td>
                                <td>جمعه ۲۴ دی ماه</td>
                              </tr>
                               <tr>
                                   <td>نمایشگاه پایانی CS50xFair</td>
                                <td>پنج‌شنبه ۲۶ اسفند ماه</td>
                              </tr>
                            </tbody>
                          </table>
                       </div>
                    </div>
                </div>
            </section>
            {% include "../form.html" %}
            <section>
                <div class="introduction-section">
                    <div class="container">
                        <div class="row content align-items-center">
                            <div class="col-lg-6 order-lg-1 order-2">
                                <h4>{{ setting_web.david_video_title_under_register }}</h4>
                                <p>
                                   CS50 یا Computer Science 50 دوره مبانی علوم کامپیوتر هاروارد اس که برای آشنایی با علوم کامپیوتر و یادگیری هنر برنامه‌نویسی می‌باشد. این دوره در دو دانشگاه هاروارد و یل تدریس می‌شود که مخاطب دانشجویانی است که علاقه دارند با حوزه علوم‌کامپیوتر آشنا شوند و یا قصد دارند پایه علمی خود را در این زمینه تکمیل و قوی کنند. مدرس این دوره در هاروارد آقای David. j. Malan می‌باشد. سی‌اس‌فیفتی اکس به دوره و اتفاقات مربوط به دوره اصلی می‌گویند که خارج از دانشگاه هاروارد و در کشورهای دیگر برگزار می‌شود. برای مثال به دوره داخل ایران CS50x Iran می‌گویند.
                                </p>
                            </div>
                            <div class="col-lg-6 order-lg-2 order-1">
                                <div class="video-box text-center">
                                    <div class="video-box text-center">
                                        <video width="500" height="325" poster="static/main/images/tizer.png" controls>
                                            <source src="static/main/video/tizer.m4v" type="video/mp4" />
                                            <source src="static/main/video/tizer.m4v" type="video/ogg" />
                                            Your browser does not support the video tag.
                                        </video>
                                        <img class="dots" src="static/web/images/dunddun!!.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="our-group-section">
                    <img src="static/web/images/team.jpg" alt="" />
                    <div class="overlay">
                        <img src="static/web/images/Rectangle1330.png" alt="" class="icon" />
                        <div class="container"></div>
                        <div class="text text-center">
                            <h2>{{ setting_web.who_are_we_title }}</h2>
                            <p>
                                {{ setting_web.who_are_we_description1 }} <br />
                              {{ setting_web.who_are_we_description2 }}
                            </p>
                            <a href="/winter/#gallery">
                                <button>
                                    تصاویر دوره‌های قبل
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="packages-section">
                    <div class="text text-center">
                        <div class="border-top"></div>
                        <h2>دوره های دیگر CS50x Iran</h2>
                    </div>

                    <div class="container">
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="box">
                                        <img src="static/main/images/android.png" alt="" />
                                        <div class="contents">
                                            <hr />
                                            <h5>برنامه نویسی اندروید
</h5>
                                            <p>Android with Kotlin

</p>
                                            <div class="price">
                                                <div>
                                                    <span>قیمت</span>
                                                </div>
                                                <div>
                                                    <span>۱٫۰۹۹٫۰۰۰ تومان</span>
                                                </div>
                                            </div>
                                            <a href="android" type="button" class="btn btn-red">ثبت نام در دوره</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="box">
                                        <img src="static/main/images/ai.png" alt="" />
                                        <div class="contents">
                                            <hr />
                                            <h5>هوش مصنوعی</h5>
                                            <p>AI With Python</p>
                                            <div class="price">
                                                <div>
                                                    <span>قیمت</span>
                                                </div>
                                                <div>
                                                    <span>۱٫۲۹۹٫۰۰۰  تومان</span>
                                                </div>
                                            </div>
                                            <a href="ai" type="button" class="btn btn-red">ثبت نام در دوره</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <a href="#" class="btn btn-top" id="fixedBtn">
            <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.384713L20 11.001L18.6 12.4873L10 3.35727L1.4 12.4873L0 11.001L10 0.384713Z" fill="white" />
            </svg>
        </a>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 order-lg-1 order-2">
                        <ul class="menu">
{#                            <li><a href="">ورود</a></li>#}
                              <li><a href="https://cs50x.ir/team">تیم ما</a></li>
                              <li><a href="https://cs50x.ir/aboutus">درباره ما</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 text-center order-lg-2 order-1">
                        <img src="static/web/images/logo2.svg" alt="" />
                        <div class="line"></div>
                        <div class="text-center">
{#                            <h4>حامیان</h4>#}
                        </div>
                        <div class="flex mt-4">
                            <div class="sponsor"><img src="static/web/images/Rectangle11811.png" alt="" /></div>
                            <div class="sponsor"><a href="https://karo.events" target="_blank"><img src="static/main/images/karo.svg" alt="" /></a></div>
                            <div class="sponsor"><img src="static/web/images/Rectangle11811.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-3 order-3">
                        <div class="box">
                            <h4>تماس با پشتیبانی</h4>
                            <div class="flex justify-content-start mt-3">
                                <div><img src="static/web/images/email.svg" alt="" /></div>
                                <div class="me-2" style="color: white"><a style="color: white" href="mail:support@cs50x.ir">support@cs50x.ir</a></div>
                            </div>
                            <div class="flex justify-content-start mt-3">
                                <div><img src="static/web/images/phone.svg" alt="" /></div>
                                <div class="me-2" style="color: white"><a style="color: white;" href="tel:02128429035">02128429035</a></div>
                            </div>
                            <div class="line"></div>
                            <ul class="social">
                                <li>
                                    <a href="https://twitter.com/CS50xIran"><img src="static/main/images/social/twitter.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href=""><img src="static/main/images/social/youtube.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/cs50xiran"><img src="static/main/images/social/instagram.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href="https://linkedin.com/in/cs50xiran"><img src="static/main/images/social/linkedin.svg" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="copy-right">
                    <p>تمامی حقوق در سی اس فیفتی ایران محفوظ می باشد</p>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->
        <script src="static/web/js/main.js"></script>
        <script src="static/web/js/gsap.min.js"></script>
        <script src="static/web/js/popper.min.js"></script>
        <script src="static/web/js/bootstrap.min.js"></script>
        <!-- /scripts -->
    </body>
</html>

