<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="" />
        <!-- Title -->
        <title></title>
        <!-- Bootstrap CSS -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" /> -->
        <link rel="stylesheet" href="/static/android/css/bootstrap.min.css" />
        <!-- Theme CSS -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" /> -->
        <link rel="stylesheet" href="/static/android/css/normalize.min.css" />
        <link rel="stylesheet" href="/static/android/css/style.css?v=1.5" />
        <link rel="stylesheet" href="/static/android/css/responsive.css?v=1.5" />
        <!---start GOFTINO code--->
<script type="text/javascript">
  !function(){var i="i3Rl9r",a=window,d=document;function g(){var g=d.createElement("script"),s="https://www.goftino.com/widget/"+i,l=localStorage.getItem("goftino_"+i);g.async=!0,g.src=l?s+"?o="+l:s;d.getElementsByTagName("head")[0].appendChild(g);}"complete"===d.readyState?g():a.attachEvent?a.attachEvent("onload",g):a.addEventListener("load",g,!1);}();
</script>
<!---end GOFTINO code--->
    </head>
    <body>
        {% include "../header.html" %}
        <main>
            <section id="home">
                <div class="introduction-section">
                    <img src="/static/android/images/Ellipse66(1).png" alt="" />
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 order-lg-1 order-2">
                                <div class="right">
                                    <h2>{{ setting_android.course_title }}</h2>
                                    <p>
                                        {{ setting_android.course_description }}
                                    </p>
                                    <a href="">
                                        <button class="btn btn-right">{{ setting_android.right_button }}</button>
                                    </a>
                                    <a href="">
                                        <button class="btn btn-left">{{ setting_android.left_button }}</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-1 order-1">
                                <div class="left">
                                    <img src="/static/android/images/Group237.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="fixedBtnCount">
                <div class="online-course-section">
                    <div class="container">
                        <div class="row">
                            <article class="col-lg-3 text-center">
                                <img src="/static/android/images/3.png" alt="" />
                                <span>{{ setting_android.course_feature_title1 }}</span>
                                <span>{{ setting_android.course_feature_description1 }}</span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="/static/android/images/2.png" alt="" />
                                <span class="top">{{ setting_android.course_feature_title2 }}</span>
                                <span class="bottom">{{ setting_android.course_feature_description2 }}</span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="/static/android/images/1.png" alt="" />
                                <span class="top">{{ setting_android.course_feature_title3 }}</span>
                                <span class="bottom">{{ setting_android.course_feature_description3 }}</span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="/static/android/images/4.png" alt="" />
                                <span class="top">{{ setting_android.course_feature_title4 }}</span>
                                <span class="bottom">{{ setting_android.course_feature_description4 }}</span>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="video-section text-center">
                    <div class="container">
                        <div class="video-box text-center">
                            <video poster="/static/android/images/video.png" controls>
                                <source src="./01-DOM-vs-BOM.mp4" type="video/mp4" />
                                <source src="movie.ogg" type="video/ogg" />
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="announced-section text-center">
                    <div class="container">
                        <div class="border-top"></div>
                        <h2>{{ setting_android.david_video_title }}</h2>
                        <p>
                           {{ setting_android.david_video_description1 }}
                            <br />
                            {{ setting_android.david_video_description2 }}
                        </p>
                        <div class="left">
                            <img src="/static/android/images/dunddun!!.png" alt="" />
                        </div>
                        <div class="right">
                            <img src="/static/android/images/dunddun!!.png" alt="" />
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="skill-section text-center">
                    <div class="container">
                        <h2>{{ setting_android.skills_title }}</h2>
                        <div class="stripe-border">
                            <img src="/static/android/images/Vector29.png" alt="" />
                        </div>
                        <div class="row">
                            <article class="col-lg-3 text-center">
                                <img src="/static/android/images/01.png" alt="" />
                                <span>{{ setting_android.skills_title1 }}</span>
                                <span>
                                    {{ setting_android.skill_description1 }} <br />
                                    {{ setting_android.skill_description1_1 }}
                                </span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="/static/android/images/setting.png" alt="" />
                                <span>{{ setting_android.skills_title2 }}</span>
                                <span>
                                    {{ setting_android.skill_description2 }} <br />
                                   {{ setting_android.skill_description2_2 }}
                                </span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="/static/android/images/weeqeweqe.png" alt="" />
                                <span>{{ setting_android.skills_title3 }}</span>
                                <span>
                                    {{ setting_android.skill_description3 }} <br />
                                   {{ setting_android.skill_description3_3 }}
                                </span>
                            </article>
                            <article class="col-lg-3 text-center">
                                <img src="/static/android/images/dfad.png" alt="" />
                                <span>{{ setting_android.skills_title4 }}</span>
                                <span>
                                    {{ setting_android.skill_description4 }} <br />
                                   {{ setting_android.skill_description4_4 }}
                                </span>
                            </article>
                        </div>
                        <div class="bottom-tringle"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="subject text-center">
                    <div class="right-circle">
                        <img src="/static/android/images/right-circle.png" alt="" />
                    </div>
                    <div class="container">
                        <div class="border-top"></div>
                        <h2>{{ setting_android.course_topic }}</h2>
                        <ul>
                            <li class="subject-item">Scratch</li>
                            <li class="subject-item">C</li>
                            <li class="subject-item">Arrays</li>
                            <li class="subject-item">Algorithms</li>
                            <li class="subject-item">Memory</li>
                            <li class="subject-item">Data</li>
                            <li class="subject-item">Structures</li>
                            <li class="subject-item">Python</li>
                            <li class="subject-item">C#</li>
                            <li class="subject-item">SQL</li>
                            <li class="subject-item">HTML</li>
                            <li class="subject-item">CSS</li>
                            <li class="subject-item">JavaScript</li>
                            <li class="subject-item">Flask</li>
                            <li class="subject-item">Ethics</li>
                        </ul>
                    </div>
                    <div class="left-circle">
                        <img src="/static/android/images/left.circle.png" alt="" />
                    </div>
                </div>
            </section>
            <section>
                <div class="teacher-section">
                    <div class="container">
                        <div class="top">
                            <img src="/static/android/images/dunddun!!.png" alt="" />
                        </div>
                        <div class="col-lg-6 order-lg-1 order-2">
                            <div class="right">
                                <h4>{{ setting_android.teacher_name }}</h4>
                                <p>
                                  {{ setting_android.teacher_description }}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-1 order-1">
                            <div class="left">
                                <img src="/static/android/images/image7.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="right-ramp"></div>
                    <div class="left-ramp"></div>
                </div>
            </section>
            <section>
                <div class="person-course-section text-center">
                    <div class="container">
                        <div class="border-top"></div>
                        <h2>{{ setting_android.suitable_for_title }}</h2>
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <img src="/static/android/images/desktop-mac.png" alt="" />
                                <span>{{ setting_android.suitable_for_title1 }}</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <img src="/static/android/images/castforeducation.png" alt="" />
                                <span>{{ setting_android.suitable_for_title2 }}</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <img src="/static/android/images/school.png" alt="" />
                                <span>{{ setting_android.suitable_for_title3 }}</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <img src="/static/android/images/gps.png" alt="" />
                                <span>{{ setting_android.suitable_for_title4 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="certificate-section text-center">
                    <div class="container">
                        <div class="border-top"></div>
                        <h2>{{ setting_android.title_of_document }}</h2>
                        <div class="center"><img src="/static/android/images/android-cert.png" alt="" /></div>
                        <div class="right">
                            <img src="/static/android/images/dunddun!!.png" alt="" />
                        </div>
                        <div class="left">
                            <img src="/static/android/images/dunddun!!.png" alt="" />
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="sign-up-time-section text-center d-md-block d-none">
                    <div class="container">
                        <h3>فرصت زیادی تا پایان مهلت ثبت نام باقی نمونده!</h3>
                        <div class="timer">
                            <div class="container-countdown">
                                <section class="countdown-block">
                                    <span class="days time-element">
                                        <span class="top">00</span>
                                        <span class="top-back">
                                            <span>00</span>
                                        </span>
                                        <span class="bottom">00</span>
                                        <span class="bottom-back">
                                            <span>00</span>
                                        </span>
                                    </span>
                                    <h2 class="subtitle">روز</h2>
                                </section>
                                <section class="countdown-block">
                                    <span class="hours time-element">
                                        <span class="top">00</span>
                                        <span class="top-back">
                                            <span>00</span>
                                        </span>
                                        <span class="bottom">00</span>
                                        <span class="bottom-back">
                                            <span>00</span>
                                        </span>
                                    </span>
                                    <h2 class="subtitle">ساعت</h2>
                                </section>
                                <section class="countdown-block">
                                    <span class="minutes time-element">
                                        <span class="top">00</span>
                                        <span class="top-back">
                                            <span>00</span>
                                        </span>
                                        <span class="bottom">00</span>
                                        <span class="bottom-back">
                                            <span>00</span>
                                        </span>
                                    </span>
                                    <h2 class="subtitle">دقیقه</h2>
                                </section>
                                <section class="countdown-block">
                                    <span class="seconds time-element">
                                        <span class="top">00</span>
                                        <span class="top-back">
                                            <span>00</span>
                                        </span>
                                        <span class="bottom">00</span>
                                        <span class="bottom-back">
                                            <span>00</span>
                                        </span>
                                    </span>
                                    <h2 class="subtitle">ثانیه</h2>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section  id="questions">
                <div class="questions-section">
                    <div class="text-center d-md-block d-none">
                        <a href="#" type="button" class="btn btn-red">همین حاال ثبت نام کنید</a>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="box">
                                    <div class="text-center mb-5">
                                        <div class="border-top"></div>
                                        <h3>سوالات متداول</h3>
                                    </div>
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                    آیا بعد از گذراندن دوره اندروید، توانایی تولید اپلیکیشن اندروید را داریم؟
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                      تو این دوره قراره به شکلی کامل، مباحث مختلف اندروید رو بهتون آموزش بدیم و روند توسعه یک اپلیکیشن اندرویدی رو با درگیر شدن در پروژه‌های مختلف یاد بگیرین. پس می‌تونیم بگیم بله :)

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                    پشتیبانی دوره به چه شکلی خواهد بود؟
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        CS50xIran تیم علمی رو در خودش داره تا پاسخگوی تمام سوالات شرکت‌کنندگان این دوره باشه و در روند آموزشی بهتون کمک کنه.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                                   نحوه برگزاری این دوره به چه شکلی خواهد بود؟
                                                </button>
                                            </h2>
                                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                      این دوره به‌مثابه دوره مقدماتی تابستون ۱۴۰۰ به‌خاطر ویروس کرونا به شکل آنلاین برگزار می‌شه.

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingfour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                                                   اگر جلسه‌ای را از دست دهیم، باید چه‌کار کنیم؟
                                                </button>
                                            </h2>
                                            <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        ممکنه شرکت‌کننده‌ها بنابر هر دلیلی، جلسه‌ای رو از دست بدن یا مطلبی رو فراموش کنن. اما جای نگرانی نیست؛ اون‌ها به سادگی می‌تونن از طریق پنل سایت به ویدیوهای آموزشی مربوط به هر جلسه دسترسی داشته باشن.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingfive">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                                                   گواهی مطرح شده چه اعتباری دارد؟
                                                </button>
                                            </h2>
                                            <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        گواهی دوره برنامه‌نویسی از طریق CS50xIran به شما اعطا می‌شه و به‌سبب همکاری ما با شرکت‌های بزرگ و مطرح ایران، داشتن این گواهی می‌تونه تأثیر خیلی خوبی در فرصت‌های شغلی آینده‌تون داشته باشه؛ جدا از اون، قرار نیست فقط گواهی بگیریم، قراره خوب آموزش ببینیم :)

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item hide">
                                            <h2 class="accordion-header" id="flush-headingfive1">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive1" aria-expanded="false" aria-controls="flush-collapsefive1">
                                                    تفاوت دوره حضوری با غیر حضوری چیه واقعا مثلا چه چیزی میشه اگه آنلاین شرکت کنیم؟
                                                </button>
                                            </h2>
                                            <div id="flush-collapsefive1" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        0 یا 50 science Computer دوره مبانی علوم کامپیوتر هاروارد است که برای آشنایی با علوم کامپیوتر و یادگیری هنر برنامه نویسی می‌باشد. سمیشتمتنمیسسصصشیسش مبانییتشنمتیس دوره Computer science
                                                        50 یا 0 آشنایی با علوم کامپیوتر و یادگیری هنر برنامه نویسی می‌باشد. دوره تنها در دو دانشگاه هاروارد و یل تدریس می‌شود و مخاطب دانشجویانی
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" onclick="showMore('.hide','hide')" class="show-more">
                            <span>نمایش سوالات بیستر</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="7" viewBox="0 0 17 7" fill="none">
                                <path d="M16 1L8.85714 6L1 1" stroke="#1E1E1E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <img class="icon" src="/static/android/images/dunddun!!.png" alt="" />
                    <div class="bottom-logo text-center">
                        <img src="/static/android/images/Group244.png" alt="" />
                    </div>
                </div>
            </section>
            {% include "../form.html" %}
            <section>
                <div class="introduction-section">
                    <div class="container">
                        <div class="row content align-items-center">
                            <div class="col-lg-6 order-lg-1 order-2">
                                <h4>{{ setting_android.david_video_title_under_register }}</h4>
                                <p>

                                    {{ setting_android.david_video_description_under_register }}
                                </p>
                            </div>
                            <div class="col-lg-6 order-lg-2 order-1">
                                <div class="video-box text-center">
                                    <div class="video-box text-center">
                                        <video poster="/static/android/images/video.png" controls>
                                            <source src="./01-DOM-vs-BOM.mp4" type="video/mp4" />
                                            <source src="movie.ogg" type="video/ogg" />
                                            Your browser does not support the video tag.
                                        </video>
                                        <img class="dots" src="/static/android/images/dunddun!!.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="our-group-section">
                    <img src="/static/android/images/MaskGroup.png" alt="" />
                    <div class="overlay">
                        <img src="/static/android/images/Rectangle1330.png" alt="" class="icon" />
                        <div class="container"></div>
                        <div class="text text-center">
                            <h2>{{ setting_android.who_are_we_title }}</h2>
                            <p>
                                {{ setting_android.who_are_we_description1 }} <br />
                                {{ setting_android.who_are_we_description2 }}
                            </p>
                            <a href="#">
                                <button>
                                    درباره ما
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="packages-section">
                    <div class="text text-center">
                        <div class="border-top"></div>
                        <h2>دوره های دیگر CS50x Iran</h2>
                    </div>

                    <div class="container">
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="box">
                                        <img src="/static/android/images/Artboard31.png" alt="" />
                                        <div class="contents">
                                            <hr />
                                            <h5>برنامه نویس وب</h5>
                                            <p>شرکت کنندگان می توانند انجام</p>
                                            <div class="price">
                                                <div>
                                                    <span>قیمت</span>
                                                </div>
                                                <div>
                                                    <span>999999 تومان</span>
                                                </div>
                                            </div>
                                            <a href="#" type="button" class="btn btn-red">ثبت نام در دوره</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="box">
                                        <img src="/static/android/images/Artboard11.png" alt="" />
                                        <div class="contents">
                                            <hr />
                                            <h5>برنامه نویس وب</h5>
                                            <p>شرکت کنندگان می توانند انجام</p>
                                            <div class="price">
                                                <div>
                                                    <span>قیمت</span>
                                                </div>
                                                <div>
                                                    <span>999999 تومان</span>
                                                </div>
                                            </div>
                                            <a href="#" type="button" class="btn btn-red">ثبت نام در دوره</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <a href="#" class="btn btn-top" id="fixedBtn">
            <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.384713L20 11.001L18.6 12.4873L10 3.35727L1.4 12.4873L0 11.001L10 0.384713Z" fill="white" />
            </svg>
        </a>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 order-lg-1 order-2">
                        <ul class="menu">
                            <li><a href="">ورود</a></li>
                            <li><a href="">تیم ما</a></li>
                            <li><a href="">درباره ما</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 text-center order-lg-2 order-1">
                        <img src="/static/android/images/logo2.png" alt="" />
                        <div class="line"></div>
                        <div class="text-center">
                            <h4>حامیان</h4>
                        </div>
                        <div class="flex mt-4">
                            <div class="sponsor"><img src="/static/android/images/Rectangle1181.png" alt="" /></div>
                            <div class="sponsor"><img src="/static/android/images/Rectangle1181.png" alt="" /></div>
                            <div class="sponsor"><img src="/static/android/images/Rectangle1181.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-3 order-3">
                        <div class="box">
                            <h4>ارتباط با ما</h4>
                            <div class="flex justify-content-start mt-3">
                                <div><img src="/static/android/images/email.svg" alt="" /></div>
                                <div class="me-2" style="color: white">Ino [at] cs50x.ir</div>
                            </div>
                            <div class="flex justify-content-start mt-3">
                                <div><img src="/static/android/images/phone.svg" alt="" /></div>
                                <div class="me-2" style="color: white">02100000000</div>
                            </div>
                            <div class="line"></div>
                            <ul class="social">
                                <li>
                                    <a href=""><img src="/static/android/images/social/twitter.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href=""><img src="/static/android/images/social/facebook.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href=""><img src="/static/android/images/social/instagram.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href=""><img src="/static/android/images/social/twitter.svg" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="copy-right">
                    <p>تمامی حقوق در سی اس فیفتی ایران محفوظ می باشد</p>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->
        <script src="/static/android/js/main.js"></script>
        <script src="/static/android/js/gsap.min.js"></script>
        <script src="/static/android/js/popper.min.js"></script>
        <script src="/static/android/js/bootstrap.min.js"></script>
        <!-- /scripts -->
    </body>
</html>
