<!DOCTYPE html>
<html lang="fa">
    <head>
       <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PDVRG9Z');</script>
<!-- End Google Tag Manager -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="" />
        <!-- Title -->
        <title>شرایط و ضوابط CS50xIran</title>
        <!-- Bootstrap CSS -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" /> -->
        <link rel="stylesheet" href="static/main/css/bootstrap.min.css" />
        <!-- Theme CSS -->
       <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css" /> -->
        <link rel="stylesheet" href="static/main/css/splide.min.css" />
        <link rel="stylesheet" href="static/main/css/style.css?v=1.5" />
        <link rel="stylesheet" href="static/main/css/responsive.css?v=1.5" />
       <!---start GOFTINO code--->
<script type="text/javascript">
  !function(){var i="i3Rl9r",a=window,d=document;function g(){var g=d.createElement("script"),s="https://www.goftino.com/widget/"+i,l=localStorage.getItem("goftino_"+i);g.async=!0,g.src=l?s+"?o="+l:s;d.getElementsByTagName("head")[0].appendChild(g);}"complete"===d.readyState?g():a.attachEvent?a.attachEvent("onload",g):a.addEventListener("load",g,!1);}();
</script>
<!---end GOFTINO code--->
        <style>
            .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
        </style>
    </head>
<body>
{% include "../header.html" %}

<main>

            <section id="fixedBtnCount">
                <div class="packages-section">


                </div>
                <div class="introduction-section">
                    <div class="container">
                        <div class="text-center">
                            <hr />
                            <h3>قوانین و مقررات دوره های زمستانه ۱۴۰۰ سی اس فیفتی ایران</h3>


                        </div>
                        <div class="row content align-items-center">
                            <div class="col-lg-12 order-lg-1 order-2">
<!--                                <h4>CS50 چیست؟ و CS50x به چه معناست؟-->
<!--</h4>-->
                                <p>
                                  دانشجوی عزیز، لطفا به موارد زیر هنگام ثبت‌نام در دوره CS50xiran  توجه کنید؛ ثبت‌نام شما به منزله آگاهی کامل  از موارد زیر و پذیرش آن‌ها است:
                                </p>
                                <p>۱- امکان لغو (کنسل کردن) یا تغییر بلیط ثبت‌نامی شده تنها در بازه زمانی قبل از پایان مهلت ثبت‌نام(20 دی 1400) امکان‌پذیر است و بعد از آن به‌هیچ وجه امکان لغو و استرداد وجه وجود نخواهد داشت.</p>
                                <p>۲- 	شرایط برگزاری کلاس‌های آنلاین، باتوجه به وضعیت روز ثبت‌نام و باشرط عدم اختلال در وضعیت اینترنت کشور و نیز تحریم پلت‌فرم‌های خارجی اعلام شده است؛ بدیهی است درصورت تغییر این شرایط و ایجاد اختلال در سطح دسترسی اینترنت درطول زمان برگزاری دوره، مسئولیتی متوجه عوامل برگزاری نبوده و امکان استرداد وجه دریافت شده وجود ندارد. </p>
                                <p>۳- 	پس از پرداخت شهریه دوره و ثبت نام در دوره، دانشجوی دوره شناخته می شوید. پس از ثبت نام اطلاعات تکمیلی جهت ورود به کلاس در اختیار شما قرار می گیرد. </p>
                                <p>۴- 	محتوای دوره تنها برای استفاده توسط دانشجویان دوره است پس شما حق بازنشر محتوای دوره اعم از ویدئوها، پروژه‌ها و … را در هیچ قالب و کانالی نخواهید داشت و در صورت مشاهده پیگرد قانونی خواهد داشت.</p>
                                <p>۵- 	عوامل برگزاری سی اس فیفتی نقش و تعهدی نسبت به صدور گواهینامه دانشگاه هاروارد برای شرکت‌کنندگان ندارند و سرتیفیکیت سی اس فیفتی دانشگاه هاروارد پس از کسب حدنصاب در تمرین‌ها و پروژه‌ها و به‌صورت مستقل توسط هاروارد صادر می‌شود.</p>
                                <p>۶- 	به دلیل حفظ حریم شخصی اساتید، اطلاعات تماس آن‌ها (شماره همراه) محرمانه است و تیم سی اس فیفتی از ارائه اطلاعات فوق به دانشجویان و سایرین معذور است.</p>
                                <p>۷- 	گروه‌های رفع اشکال هر دوره به منظور برقراری ارتباط دانشجویان و پاسخ به سوالات یکدیگر طراحی شده است. دانشجو مجاز است در چهارچوب قوانین کشور فعالیت نموده و سوالات خود را مطرح و یا نظرات و پاسخ‌های خود را ثبت کند. </p>
                                <p>۸- 	بدیهی است درصورت عدم رعایت قوانین یا شئونات، تیم سی‌اس‌فیفتی می‌تواند سوال یا پاسخ را حذف کند. همچنین تیم سی‌اس‌فیفتی در قبال پیام‌های رد و بدل شده دانشجویان مسئولیتی نداشته به هیچ وجه به معنای تایید محتوایی آن‌ها از طرف ما نیست.</p>
                                <p>۹- دوره اندروید سرتیفیکیت هاروارد ندارد! و سرتیفیکیت تیم CS50xIran دارد.</p>
                            </div>
<!--                            <div class="col-lg-6 order-lg-2 order-1">-->
<!--                                <div class="video-box text-center">-->
<!--                                    <video width="500" height="325" poster="static/main/images/video.png" controls>-->
<!--                                        <source src="static/main/video/david.m4v" type="video/mp4" />-->
<!--                                        <source src="static/main/video/david.m4v" type="video/ogg" />-->
<!--                                        Your browser does not support the video tag.-->
<!--                                    </video>-->
<!--                                    <img class="dots" src="static/main/images/dunddun!!.png" alt="" />-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
<!--                    <img class="icon-1" src="static/main/images/dasdas.png" alt="" />-->
<!--                    <img class="icon-2" src="static/main/images/dunddun!!.png" alt="" />-->
                </div>
            </section>



        </main>

<br />
<br />
<br />
<br />
<br />
<br />
  <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 order-lg-1 order-2">
                        <ul class="menu">
{#                            <li><a href="">ورود</a></li>#}
                            <li><a href="https://cs50x.ir/team">تیم ما</a></li>
                            <li><a href="https://cs50x.ir/aboutus">درباره ما</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 text-center order-lg-2 order-1">
                        <img src="static/main/images/logo2.svg" alt="" />
                        <div class="line"></div>
                        <div class="text-center">
                            <h4>حامیان</h4>
                        </div>
                        <div class="flex mt-4">
                            <div class="sponsor"><img src="static/main/images/karoo.svg" alt="" /></div>
                            <div class="sponsor"><a href="https://karo.events" target="_blank"><img src="static/main/images/karo.svg" alt="" /></a></div>
                            <div class="sponsor"><img src="static/main/images/Rectangle11815.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-3 order-3">
                        <div class="box">
                            <h4>تماس با پشتیبانی</h4>
                            <div class="flex justify-content-start mt-3">
                                <div><img src="static/main/images/email.svg" alt="" /></div>
                                <div class="me-2" style="color: white"><a style="color: white" href="mail:support@cs50x.ir">support@cs50x.ir</a></div>
                            </div>
                            <div class="flex justify-content-start mt-3">
                                <div><img src="static/main/images/phone.svg" alt="" /></div>
                                <div class="me-2" style="color: white;"><a style="color: white;" href="tel:02128429035">02128429035</a></div>
                            </div>
                            <div class="line"></div>
                            <ul class="social">
                                <li>
                                    <a href="https://twitter.com/CS50xIran"><img src="static/main/images/social/twitter.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a><img src="static/main/images/social/youtube.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/cs50xiran"><img src="static/main/images/social/instagram.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href="https://linkedin.com/in/cs50xiran"><img src="static/main/images/social/linkedin.svg" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="copy-right">
                    <p>تمامی حقوق در سی اس فیفتی ایران محفوظ می باشد</p>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="static/main/js/splide.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script> -->
        <script src="static/main/js/popper.min.js"></script>
        <script src="static/main/js/bootstrap.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->
        <script src="static/main/js/main.js?v=1.5"></script>
        <!-- /scripts -->

</body>
</html>